
        .container-row {
            text-align: center;
            vertical-align: middle;
            display: flex;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
        }

        .nav {
            background-color: burlywood;
            height: 100vh;
            flex-grow: 1;
            box-sizing: border-box;
        }

        .container-col {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            flex-grow: 4;
        }

        .header,
        .footer {
            flex-grow: 1;
            width: 100%;
            background-color: rgb(126, 4, 53);
        }

        .container-row.section {
            height: auto;
            flex-grow: 4;
        }

        .article{
            background-color: rgb(62, 190, 2);
            flex-grow: 4;
        }
        .aside{
            background-color: cornflowerblue;
            flex-grow: 1;
        }
    