body {
    background-color:#008B8B ;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color: #A52A2A	;
    font-weight: bold;
}

#header {
    background-color: #6495ED;
    border: 1px dotted green;
}

blockquote {
    text-align: center;
    background-color: #778899;
    color: #000080;
   border: 1px dotted blue;

}

#soekarno {
    font-weight: bold;
}


.nav-bar li {
    display: inline;

}

.nav-bar ul{
    text-align: center;
    background-color: #778899;
    color: #000080;
   border: 1px dotted #DB7093;

}

.gambar{
    text-align: center;
}

.gambar img{
    width: 20%;
}

.isi {
    background-color:#DB7093 ;
    color:#8B0000;
    text-align: center;
}

.jawa {
    font-weight: bold;
    color: darkgreen;
    font-size: xx-large;
}

#profil {
    background-color: #DB7093;
    color: #8B0000;
    text-align: left;
}

#profil h3 {
    text-align: center;
    color: darkgreen;
    font-size: x-large;
}

#beternak {
    background-color: #DB7093;
    color: #8B0000;
    text-align: center;

} 

#beternak h3 {
    text-align: center;
    color: darkgreen;
    font-size: x-large;
}

#beternak h4 {
    text-align: center;
    color: darkgreen;
    line-height:10px;
}

.koleksi {
    text-align: center;
}

.koleksi img {
    width: 20%;
}

.promo {
    margin: auto;
    width: 80%;
    text-align: center;
}

.promo h2 {
    font-size: large;
    color: #8B0000;
    background-color: #6495ED;
    text-align: center;
    border: 1px dotted #DB7093;
}

.promo h3 {
    font-size: large;
    color: #8B0000;
    background-color: #6495ED;
    text-align: center;
    border: 1px dotted #DB7093;
}

#Wa {
    color: black;
}

.promo h4 {
    text-align: center;
    background-color: #778899;
    color: #000080;
   border: 1px dotted #DB7093;
}


#nav-bar li {
    background-color: #778899;
    color: #000080;
   border: 1px dotted #DB7093;
   display: inline;
}